-- MiniJobBoard Database Schema
-- This script creates the database tables for the MiniJobBoard application

CREATE DATABASE IF NOT EXISTS minijobboard;
USE minijobboard;

-- Users table
CREATE TABLE users (
    user_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    role ENUM('student', 'company') NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Jobs table
CREATE TABLE jobs (
    job_id INT PRIMARY KEY AUTO_INCREMENT,
    company_id INT NOT NULL,
    title VARCHAR(100) NOT NULL,
    description TEXT,
    location VARCHAR(100),
    salary DECIMAL(10,2),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (company_id) REFERENCES users(user_id) ON DELETE CASCADE
);

-- Applications table
CREATE TABLE applications (
    app_id INT PRIMARY KEY AUTO_INCREMENT,
    job_id INT NOT NULL,
    student_id INT NOT NULL,
    status ENUM('applied', 'reviewed', 'selected') DEFAULT 'applied',
    applied_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (job_id) REFERENCES jobs(job_id) ON DELETE CASCADE,
    FOREIGN KEY (student_id) REFERENCES users(user_id) ON DELETE CASCADE,
    UNIQUE KEY unique_application (job_id, student_id)
);

-- Insert sample data
INSERT INTO users (name, email, role) VALUES
('John Doe', 'john.doe@email.com', 'student'),
('Jane Smith', 'jane.smith@email.com', 'student'),
('Tech Corp', 'hr@techcorp.com', 'company'),
('StartupXYZ', 'jobs@startupxyz.com', 'company');

INSERT INTO jobs (company_id, title, description, location, salary) VALUES
(3, 'Software Developer', 'Full-stack developer position with React and Spring Boot', 'New York', 75000.00),
(3, 'Data Scientist', 'Machine learning and data analysis role', 'San Francisco', 90000.00),
(4, 'Frontend Developer', 'React and TypeScript developer needed', 'Remote', 65000.00),
(4, 'Backend Developer', 'Java Spring Boot developer', 'Austin', 70000.00);
